langchain
langchain-community
pypdf
python-dotenv
langchain-groq
pinecone>=5.0.0
langchain-pinecone==0.2.13
langchain-text-splitters
fastapi
uvicorn
python-multipart
pymongo
passlib[bcrypt]
email-validator
